*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

.container{
    width: 100%;
}
.side-bar{
    float: left;
    width: 30%;
    text-align: center;
    background-color: #f2f3f7;
    overflow: scroll;
    padding-top: 50px;
    padding-bottom:50px;
}
.side-bar h2,p{
    padding: 10px 0px;
}
.side-bar img{
    width: 150px;
    border: 1px solid black;
    border-radius:50px;
}
.navbar ul li{
    padding: 10px;
}
ul li a{
    text-decoration: none;
    padding: 10px 0px;
    color: black;
}
ul li a:hover{
    color: gray;
}
.description{
    font-size: 13px;
    font-weight: 100;
}
.main{
    float: right;
    width: 70%;
    margin: 25px 0px;
}
.about-heading{
    float: left;
    margin: 120px 35px;
}
.about-heading h1{
    padding: 30px 0px;
    line-height: 50px;
}

.about-heading p{
    padding: 30px 0px;
}
.btn{
    padding: 15px 7px;
    border-radius: 7px;
}
.bg-img-right img{
width: 25%;
margin: 150px 0px;
border: ipx solid transparent;
border-radius: 7px;
}
.color{
    color: blue;
}
